/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Zilla Slab', serif;
  background: rgb(190, 187, 187);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  background: gray;
  padding: 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.navbar__links {
  padding: 10px;
  background: #1b1b1c;
}

.navbar__links a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.navbar__links span {
  font-family: 'Courgette', cursive;
  font-size: 14px;
  font-weight: lighter;
}

.navbar-btn {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  background: none;
  width: 100px;
  height: 50px;
  margin-top: 8px;
}

.hidden {
  visibility: hidden;
}

.gradient__1 {
  width: 100%;
  content: "";
  background: linear-gradient(90deg, #919294 50%, #adafb3 50%);
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
}

.gradient__1--2 {
  background: linear-gradient(90deg, #636363 50%, #757474 50%);
}

.gradient__1--header > h1 {
  width: 400px;
  padding: 10px;
  margin: 0 auto;
  background-color: whitesmoke;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.gradient__1--header > h2 {
  width: 100px;
  padding: 10px;
  margin: 0 auto;
  background-color: whitesmoke;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.gradient__1--elt {
  display: flex;
  justify-content: space-between;
  width: 250px;
  position: absolute;
  top: 15px;
  left: 1050px;
}

.gradient__1--empty {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  content: "";
  background-color: white;
  transform: rotate(165deg);
}

.gradient__1--elt > button {
  border-radius: 10px;
  height: 40px;
  background: none;
  width: 170px;
  margin-top: 10px;
  border: 1px solid whitesmoke;
  font-size: 18px;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.gradient__1--text {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 40px;
}

.gradient__1--text--special {
  display: flex;
}

.gradient__1--text--special > p {
  margin-top: 10px;
  margin-left: 15px;
  color: whitesmoke;
}

.wrote-style {
  font-family: 'Courgette', cursive;
}

.gradient__1--text--1 {
  margin-left: 35px;
  line-height: 50px;
}

.gradient__1--text--1_bold {
  margin-top: 30px;
  width: 70%;
  font-size: 40px;
  font-weight: bolder;
  color: white;
}

.gradient__1--text--1_bold span {
  font-size: 16px;
}

.grid__1 {
  display: grid;
  grid-template-columns: auto auto auto;
  background: rgb(190, 187, 187);
  margin-top: 50px;
}

.grid__1--item {
  padding: 20px;
}

.grid__1--item small {
  color: white;
}

.grid__1--item h2 {
  padding-top: 10px;
  font-size: 30px;
  text-decoration: underline;
  color: white;
  padding-bottom: 30px;
}

.grid__1--item p {
  color: white;
  margin-bottom: 10px;
}

.grid__item--p2 {
  line-height: 30px;
}

.grid__1--item i {
  color: white;
  margin-top: 100px;
}

.grid__1--item-lasti {
  margin-top: 35px;
}

.grid__1--item-1 {
  border: 1px solid rgb(59, 58, 58);
  background: rgb(59, 58, 58);
  border-radius: 5px;
  margin-left: 40px;
  text-align: center;
  width: 80%;
}

.grid__1--item--darkcircle {
  height: 100px;
  width: 100px;
  content: "";
  background: whitesmoke;
  border-radius: 50%;
  margin: 0 auto;
}

.grid__1--item__1--h2 {
  font-size: 45px;
  margin-top: 10px;
}

.grid__1--item--btn {
  width: 300px;
  height: 50px;
  background: white;
  color: rgb(23, 23, 218);
  border-radius: 5px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.grid__1--lastdiv {
  margin: 60px auto;
  width: 18%;
  border-bottom: 4px solid rgb(43, 42, 42);
  color: whitesmoke;
  text-align: center;
  padding-bottom: 10px;
}

.middle {
  background: #73bf9e;
}

.middle__section {
  text-align: center;
  margin-top: 40px;
}

.middle__section p {
  color: white;
  font-size: 20px;
  line-height: 30px;
}

.middle__section--h4 {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.middle__section--h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
}

.middle__section--btn {
  height: 50px;
  width: 300px;
  margin-top: 30px;
  border-radius: 10px;
  border: 1px solid white;
  font-size: 20px;
  color: #4fa5f0;
  font-weight: 600;
}

.middle__section--empty_div {
  width: 65%;
  height: 250px;
  content: "";
  background: #595c5b;
  margin: 40px auto 40px auto;
}

.seventh__section {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.seventh__section--empty_div {
  height: 250px;
  width: 250px;
  content: "";
  background: #595c5b;
  border-radius: 10px;
  transform: rotate(165deg);
  margin-top: 15px;
}

.seventh__section--text {
  width: 60%;
  color: white;
}

.seventh__section--text_h2 {
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 30px;
}

.seventh__section--text_p {
  line-height: 20px;
  font-size: 20px;
}
